@page "/"
@using BlazorApp1.Client.Layout
@using System.Collections.Generic
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json

@inject NavigationManager NavigationManager



<PageTitle>@PageTitle</PageTitle>
<h1 hidden>@PageTitle</h1>

<TopNavComponent PageTitle="@PageTitle" />


<div id="content" class="">
    <div id="playlists" class="p-2 p-md-4 w-100 mx-auto">
        @foreach (var playlist in Response)
        {
            <a id="playlist" class="rounded-4 text-black w-100" href="/playlist">
                <img src="@playlist.Image" alt="@playlist.Name" class="img-fluid rounded-2 w-100" />
                <h2 class="fw-bold fs-5 my-2">@playlist.Name</h2>
                <p class="fw-semibold my-0">@playlist.Description</p>
            </a>
        }
    </div>
</div>


@code {
    public string PageTitle { get; set; } = "All Playlists";






    // the playlist list will be here, just for testing, they are arrays of objects with the following properties:
    // - Id: int
    // - Name: string
    // - Description: string
    // - Image: string
    // The playlist object definition
    private class Playlist
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Description { get; set; }
        public string Image { get; set; }
    }

    private List<Playlist> Response { get; set; } = new List<Playlist>();

    // The http client  object
    protected override async Task OnInitializedAsync()
    {
        // Use navigation manager to get the base url address of the http client
        var baseUri = NavigationManager.BaseUri;

        // Use the base address of the http client to get the playlists
        Response = await Http.GetFromJsonAsync<List<Playlist>>(baseUri + "api/playlists");
        
    }

}