@page "/playlist"
@using BlazorApp1.Client.Layout
@using System.Collections.Generic
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@inject NavigationManager NavigationManager



<PageTitle>@PageTitle</PageTitle>
<h1 hidden>@PageTitle</h1>

<TopNavComponent PageTitle="@PageTitle" />

<div id="content" class="container mx-auto p-3 p-md-5">
    <div id="playlist">
        @if (Response?.PlaylistMetadata == null || Response?.PlaylistSongs == null)
        {
            <h2 class="fw-bold fs-4">Playlist not found</h2>

        } else {
            @foreach (var song in Response.PlaylistSongs)
            {
                <div class="playlist-item g-3">
                    <img src="@song.Image" alt="@song.Name" class="rounded-2 h-100" />
                    <a class="text-black" id="playlist-title-section" href="/player">
                        <h2 class="fw-bold fs-4" id="playlist-title">
                            @song.Name
                        </h2>
                        <h3 class="fw-bold fs-6 " id="playlist-title">
                            @song.Artist
                        </h3>
                    </a>
                    <div class="">
                        <button class="btn-transparent-bg-border">
                            <img src="/icons/play-circle.svg" class="" width="25" height="25" />
                        </button>
                    </div>
                </div>
            }
        }
    </div>
</div>



@code {


    // the playlist will be here, just for testing, they are arrays of objects with the following properties:
    // - Id: int
    // - Name: string
    // - Description: string
    // - Image: string
    // The playlist object definition
    private class PlaylistObj
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Description { get; set; }
        public string Image { get; set; }
    }

    // The playlist object definition
    private class Song
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Artist { get; set; }
        public string Image { get; set; }
    }

    private class PlaylistResponseData
    {
        public PlaylistObj PlaylistMetadata { get; set; } = new PlaylistObj();
        public List<Song> PlaylistSongs { get; set; } = new List<Song>();
    }

    private string PageTitle { get; set; } = "Playlist: ";


    private PlaylistResponseData Response = new PlaylistResponseData();


    // The http client  object
    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Use navigation manager to get the base url address of the http client
            var baseUri = NavigationManager.BaseUri;

            // Use the base address of the http client to get the playlists
            Response = await Http.GetFromJsonAsync<PlaylistResponseData>(baseUri + "api/playlists/1");

            if (Response?.PlaylistMetadata != null)
            {
                PageTitle = "Playlist: " + Response.PlaylistMetadata.Name;
            }
            else
            {
                PageTitle = "Playlist not found";
            }
        }
        catch (Exception ex)
        {
            // Handle the error appropriately here (log it, show a message to the user, etc.)
            PageTitle = "Error loading playlist";
        }
    } 

}
